* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}

.scoreContainer span {
    font-size: 1.2rem;
    margin-left: 10px;
}